@model fs_project.Models.Note

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Note</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.User.UserName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User.UserName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NoteName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NoteName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NoteContent)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NoteContent)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreateAt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreateAt)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.NoteID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
