@model IEnumerable<fs_project.Models.Note>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.User.UserName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NoteName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NoteContent)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreateAt)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.User.UserName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NoteName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NoteContent)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreateAt)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.NoteID }) |
            @Html.ActionLink("Details", "Details", new { id=item.NoteID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.NoteID })
        </td>
    </tr>
}

</table>
